
<div class="container" style="margin-left: -15px">

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<input ng-model="query">
					<button class="btn btn-primary" ng-click="doSearch(query)"> Search</button>
				</div>
				<div class="panel-body">
					<ul class="horizontal-slide">
						<li class="span2" ng-repeat="item in insta.items">
							<a class="thumbnail" data-id="{{item.id}}" ng-href="{{item.link}}">
								<img width="180" height="180" ng-src="{{ item.images.low_resolution.url }}" src="" alt="">
							</a>
						</li>
					</ul>
					<div ng-show="insta.error" class="alert alert-danger">
						<strong>Warning!</strong><br/>{{insta.error}}.
					</div>
				</div>
			</div>
		</div>
	</div>

	<google-map center="map.center" zoom="map.zoom" dragging="map.dragging"
				events="map.events" draggable="true" options="map.options" bounds="map.bounds" control="map.control">
		<markers models="randomMarkers" coords="'self'" icon="'icon'" mouseover="'onHover" click="'onClick'">

			<windows show="show">
				<div ng-non-bindable>
					<h4>{{data.caption.text}}</h4>
					<h5>{{data.user.username}}</h5>
					<img width="180" height="180" src="{{data.images.low_resolution.url}}">
				</div>

			</windows>
		</markers>
	</google-map>

	<hr>



	<div class="row">
		<div class="col-lg-12">
			<br>
			<br>
			<p class="pull-right"><a href="">asdf</a> | Jake</p>
			<br>
			<br>
		</div>
	</div>
</div>
